@model DavidsonRFB.Attendance.Web.Models.Attendees

<script type="text/javascript">
    $(document).ready(function () {
        $("#selectAll").change(function () {
            $(".selectedCheckBox").prop("checked", $(this).is(":checked"));
        });
    });

    function confirmClockOut() {
        return confirm("Please confirm that you want to clock out the selected members?");
    }
</script>

<div class="row" style="padding-top: 30px;">
    @using (Html.BeginForm("ClockOut", "Home", FormMethod.Post))
    {
        <div class="col-md-8">
            <div class="well">
                <fieldset>
                    <legend>Current Attendance</legend>
                    @if (Model.CurrentAttendance.Any())
                    {
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>@Html.CheckBox("selectAll")</th>
                                    <th>Name</th>
                                    <th>Rank</th>
                                    <th>Week</th>
                                    <th>Job</th>
                                    <th>Started</th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.EditorFor(m => m.CurrentAttendance)
                            </tbody>
                        </table>
                        <input type="submit" class="btn btn-primary" value="Clock Out" onclick="return confirmClockOut();" />
                    }
                    else
                    {
                        <span>There is no-one currently clocked in at the moment</span>
                    }
                </fieldset>
            </div>
        </div>
    }
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="col-md-4">
            <div class="well">
                <fieldset>
                    <legend>Clock In</legend>
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmployeeId, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.EmployeeId, new SelectList(ViewBag.Employees, "Id", "Name"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.EmployeeId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.JobId, new { @class = "col-md-3  control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.JobId, new SelectList(ViewBag.Jobs, "Id", "Description"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.JobId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" class="btn btn-primary" value="Clock In" />
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-offset-3 col-md-9 text-danger">@ViewBag.Message</span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    }
</div>
